.landing-page{
    align-items: flex-start;
    background-color: white;
    display:flex;
    width:1512px;
  }
  
  .hidden,
  .hidden * {
    pointer-events: none;
    visibility: hidden;
  }
  
  .overlap-group{
    height: 982px;
    position: relative;
    width: 1512px;
  }
  
  .signup{
    left: 890px;
    letter-spacing: 0;
    position: absolute;
    color:white;
    font-family: "Gill Sans", sans-serif;
    font-size:25px;
    padding-top:10px;
    text-align: center;
    text-shadow: 0px 4px 4px #000000;
    top: 575px;
    width:153px;
  }
  
  .rectangle-2{
    background-color: #ffece2;
    height: 870px;
    left:0;
    position:absolute;
    top:112px;
    width: 1900px;
  }
  
  .rectangle-8{
    background-color:#fbca9d;
    border-radius: 50px;
    height: 102px;
    left: 750px;
    position: absolute;
    top: 545px;
    width:420px;
  }
  
  .rectangle-6{
    background-color: #ffdec0;
    border-radius: 50px;
    height: 475px;
    left: 623px;
    position:absolute;
    top:253px;
    width: 665px;
  }
  
  .rectangle-1{
    background-color: #fbca9d;
    height: 119px;
    left:0;
    position: absolute;
    top:0;
    width:1900px;
  }
  
  .rectangle-7{
    background-color:#fbca9d;
    border-radius:50px;
    height: 100px;
    left: 750px;
    position: absolute;
    top: 391px;
    width: 420px;
  }
  
  .title{
    letter-spacing: 0;
    position: absolute;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-size:30px;
    text-align:center;
    text-shadow: 0px 4px 4px #000000;
    top: 20px;
    width: 391px;
  }
  
  .group{
    height: 100px;
    left: 457px;
    position: absolute;
    top:287px;
    width:100px;
  }
  
  .login{
    left: 890px;
    letter-spacing: 0;
    position: absolute;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-size:25px;
    padding-top:10px;
    text-align: center;
    text-shadow:0px 4px 4px #000000;
    top:414px;
    width:148px;
    
  }
  
  #user{
    background-color:#fbca9d;
    border-radius:50px;
    height: 100px;
    position: absolute;
    width: 420px;
    font-size: 25px;
  }
  
  #pass{
    background-color:#fbca9d;
    border-radius:50px;
    height: 100px;
    position: absolute;
    width: 420px;
    top: 150px;
    font-size: 25px;
  }
  
  ::placeholder {
    color: white;
    font-size: 25px;
    text-align:center;
  }
  
  #submit{
    background-color:#fbca9d;
    border-radius:50px;
    height: 100px;
    position: absolute;
    width: 420px;
    top:350px;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-size:25px;
    text-align: center;
    text-shadow: 0px 4px 4px #000000;
  }
  