.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.sign-up {
  align-items: flex-start;
  display: flex;
}

.signup {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  width: 1900px;
}

.body {
  background-color: #ffece2;
  height: 870px;
  left: 0;
  position: absolute;
  top: 112px;
  width: 1900px;
}

.nav{
  background-color: #fbca9d;
  height: 119px;
  left: 0;
  position: absolute;
  top:0;
  width:1900px;
}

.rectangle-3{
  background-color: #fbca9d;
  border-radius: 10px;
  height: 50px;
  left:79px;
  position: absolute;
  top: 192px;
  width: 260px;
}

.name{
  left:55px;
  letter-spacing:0;
  position:absolute;
  text-align: center;
  color: rgb(58, 58, 58);
  font-family: "Gill Sans", sans-serif;
  font-size: 24px;
  text-shadow: 0px 4px 4px grey;
  top: 159px;
  width: 126px;
}

.signup-1{
  height: 30px;
  left: 100px;
  position: absolute;
  top: 36px;
  width: 121px;
  color: white;
  font-family: "Gill Sans", sans-serif;
  font-size: 36px;
  text-shadow: 0px 4px 4px #000000;
}

.rectangle-4{
  background-color: #fbca9d;
  border-radius: 10px;
  height: 50px;
  left:79px;
  position: absolute;
  top: 306px;
  width: 270px;
}

.email{
  left: 80px;
  letter-spacing:0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px grey;
  top: 271px;
  width:126px;
  color: rgb(58, 58, 58);
  font-family: "Gill Sans", sans-serif;
  font-size: 24px;
}

.rectangle-5{
  background-color: #fbca9d;
  border-radius: 10px;
  height: 169px;
  left:79px;
  position: absolute;
  top: 420px;
  width: 500px;
}

.description{
  left: 50px;
  letter-spacing:0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px grey;
  top: 383px;
  width:226px;
  color: rgb(58, 58, 58);
  font-family: "Gill Sans", sans-serif;
  font-size: 24px;
}

.interests{
  left: 45px;
  letter-spacing:0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px grey;
  top: 616px;
  width:226px;
  color: rgb(58, 58, 58);
  font-family: "Gill Sans", sans-serif;
  font-size: 24px;
}

.rectangle-6{
  background-color: #fbca9d;
  border-radius: 10px;
  height: 169px;
  left:79px;
  position: absolute;
  top: 653px;
  width: 500px;
}

.favcolor{
  left: 865px;
  letter-spacing:0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px grey;
  top: 162px;
  width:226px;
  color: rgb(58, 58, 58);
  font-family: "Gill Sans", sans-serif;
  font-size: 24px;
}

.rectangle-9{
  background-color: #fbca9d;
  border-radius: 10px;
  height: 83px;
  left:900px;
  position: absolute;
  top: 201px;
  width: 411px;
}

.favhobby{
  left: 900px;
  letter-spacing:0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px grey;
  top: 293px;
  width:152;
  color: rgb(58, 58, 58);
  font-family: "Gill Sans", sans-serif;
  font-size: 24px;
}

.rectangle-12{
  background-color: #fbca9d;
  border-radius: 10px;
  height: 83px;
  left:900px;
  position: absolute;
  top: 332px;
  width: 411px;
}

.favfood{
  left: 900px;
  letter-spacing:0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px grey;
  top: 424px;
  width:152px;
  color: rgb(58, 58, 58);
  font-family: "Gill Sans", sans-serif;
  font-size: 24px;
}


.rectangle-11{
  background-color: #fbca9d;
  border-radius: 10px;
  height: 83px;
  left:900px;
  position: absolute;
  top: 463px;
  width: 411px;
}

.age{
  left: 870px;
  letter-spacing:0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px grey;
  top: 555px;
  width:152px;
  color: rgb(58, 58, 58);
  font-family: "Gill Sans", sans-serif;
  font-size: 24px;
}


.rectangle-13{
  background-color: #fbca9d;
  border-radius: 10px;
  height: 83px;
  left:900px;
  position: absolute;
  top: 594px;
  width: 411px;
}

#submit{
  background-color: #fbca9d;
  border-radius: 10px;
  height: 83px;
  left:900px;
  position: absolute;
  top: 725px;
  width: 262px;
  color: rgb(58, 58, 58);
  font-family: "Gill Sans", sans-serif;
  font-size: 24px;
  text-shadow: 0px 4px 4px grey;
}