{% load static%}

<link rel="stylesheet" href={% static "/signup.css" %} />

<div class="sign-up screen">
  <div class="signup">
    <div class="overlap-group">
      <div class="body">
        <form method="POST" action="signup">
          {%csrf_token%}
          <div class="name">NAME:</div>
          <input type="text" placeholder="" class="rectangle-3" name="name"/>
          <div class="email">PASSWORD:</div>
          <input type="password" placeholder="" class="rectangle-4" name="pass"/>
          <div class="description">DESCRIPTION:</div>

          <input type="text" placeholder="" class="rectangle-5" name="des"/>
          <div class="interests">INTERESTS:</div>
          <input type="text" placeholder=" " class="rectangle-6" name= "interest"/>
          <div class="favcolor">FAV COLOR:</div>
          <input type="text" placeholder=" " class="rectangle-9" name = "color"/>
          <div class="favhobby">FAV HOBBY:</div>
          <input type="text" placeholder="" class="rectangle-12" name = "hobby"/>
          <div class="favfood">FAV FOOD:</div>
          <input type="text" placeholder="" class="rectangle-11" name = "food"/>
          <div class="age">AGE:</div>
          <input type="text" placeholder="" class="rectangle-13" name="age"/>
          <input type="submit" id="submit" value="SUBMIT" />
        </form>
      </div>

      <div class="nav">
        <div class="signup-1">SIGNUP</div>
      </div>
    </div>
  </div>
</div>
